<!DOCTYPE html>
<html>
  <head>
    <title>reip_detail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/reip_detail/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/reip_detail/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (导航栏) -->

      <!-- 导航栏 (组合) -->
      <div id="u253" class="ax_default" data-label="导航栏" data-left="0" data-top="0" data-width="1906" data-height="50">

        <!-- 导航栏背景 (矩形) -->
        <div id="u254" class="ax_default box_1" data-label="导航栏背景">
          <div id="u254_div" class=""></div>
          <div id="u254_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 用户框 (矩形) -->
        <div id="u255" class="ax_default box_1" data-label="用户框">
          <div id="u255_div" class=""></div>
          <div id="u255_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u256" class="ax_default box_1">
          <img id="u256_img" class="img " src="images/root_li/u13.svg"/>
          <div id="u256_text" class="text ">
            <p><span>用户0930</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u257" class="ax_default box_1">
          <div id="u257_div" class=""></div>
          <div id="u257_text" class="text ">
            <p><span>菜谱管理员</span></p>
          </div>
        </div>

        <!-- 用户头像 (图像 ) -->
        <div id="u258" class="ax_default _图像_" data-label="用户头像">
          <img id="u258_img" class="img " src="images/login/u4.png"/>
          <div id="u258_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u259" class="ax_default button">
          <div id="u259_div" class=""></div>
          <div id="u259_text" class="text ">
            <p><span>注销</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u260" class="ax_default box_1">
          <div id="u260_div" class=""></div>
          <div id="u260_text" class="text ">
            <p style="font-size:13px;"><span style="font-family:'楷体', sans-serif;font-weight:400;">&nbsp;&nbsp; &nbsp;&nbsp; </span><span style="font-family:'楷体 Bold', '楷体 Regular', '楷体', sans-serif;font-weight:700;font-size:16px;">仿下厨房后台管理系统</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u261" class="ax_default icon">
          <img id="u261_img" class="img " src="images/root_li/u18.svg"/>
          <div id="u261_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 导航 (菜单) -->
        <div id="u262" class="ax_default" data-label="导航">
          <img id="u262_menu" class="img " src="images/root_li/导航_u19_menu.png" alt="u262_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u263" class="ax_default">

            <!-- Unnamed (菜单项目) -->
            <div id="u264" class="ax_default menu_item">
              <img id="u264_img" class="img " src="images/root_li/u21.png"/>
              <div id="u264_text" class="text ">
                <p><span>系统</span></p>
              </div>
            </div>

            <!-- reip (菜单项目) -->
            <div id="u265" class="ax_default menu_item" data-label="reip">
              <img id="u265_img" class="img " src="images/root_li/reip_u22.png"/>
              <div id="u265_text" class="text ">
                <p><span>菜谱</span></p>
              </div>
            </div>

            <!-- mall (菜单项目) -->
            <div id="u266" class="ax_default menu_item" data-label="mall">
              <img id="u266_img" class="img " src="images/root_li/mall_u23.png"/>
              <div id="u266_text" class="text ">
                <p><span>商城</span></p>
              </div>
            </div>

            <!-- Unnamed (菜单项目) -->
            <div id="u267" class="ax_default menu_item">
              <img id="u267_img" class="img " src="images/root_li/u24.png"/>
              <div id="u267_text" class="text ">
                <p><span>用户</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u268" class="ax_default sub_menu">
            <img id="u268_menu" class="img " src="images/root_li/u25_menu.png" alt="u268_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u269" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u270" class="ax_default menu_item">
                <img id="u270_img" class="img " src="images/root_li/u27.png"/>
                <div id="u270_text" class="text ">
                  <p><span>菜谱列表</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u271" class="ax_default menu_item">
                <img id="u271_img" class="img " src="images/root_li/u28.png"/>
                <div id="u271_text" class="text ">
                  <p><span>菜谱审核</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u272" class="ax_default sub_menu">
            <img id="u272_menu" class="img " src="images/root_li/u29_menu.png" alt="u272_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u273" class="ax_default">

              <!-- nacos (菜单项目) -->
              <div id="u274" class="ax_default menu_item" data-label="nacos">
                <img id="u274_img" class="img " src="images/root_li/nacos_u31.png"/>
                <div id="u274_text" class="text ">
                  <p><span>NACOS控制台</span></p>
                </div>
              </div>

              <!-- sentinel (菜单项目) -->
              <div id="u275" class="ax_default menu_item" data-label="sentinel">
                <img id="u275_img" class="img " src="images/root_li/sentinel_u32.png"/>
                <div id="u275_text" class="text ">
                  <p><span>Sentinel控制台</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u276" class="ax_default sub_menu">
            <img id="u276_menu" class="img " src="images/root_li/u33_menu.png" alt="u276_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u277" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u278" class="ax_default menu_item">
                <img id="u278_img" class="img " src="images/root_li/u35.png"/>
                <div id="u278_text" class="text ">
                  <p><span>商品上传</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u279" class="ax_default menu_item">
                <img id="u279_img" class="img " src="images/root_li/u35.png"/>
                <div id="u279_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u280" class="ax_default menu_item">
                <img id="u280_img" class="img " src="images/root_li/u37.png"/>
                <div id="u280_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u252" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (图像 ) -->
      <div id="u281" class="ax_default _图像_">
        <img id="u281_img" class="img " src="images/reip_detail/u281.png"/>
        <div id="u281_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 名称+属性 (组合) -->
      <div id="u282" class="ax_default" data-label="名称+属性" data-left="738" data-top="125" data-width="580" data-height="58">

        <!-- Unnamed (矩形) -->
        <div id="u283" class="ax_default box_1">
          <div id="u283_div" class=""></div>
          <div id="u283_text" class="text ">
            <p><span>菜谱名称：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u284" class="ax_default box_1">
          <div id="u284_div" class=""></div>
          <div id="u284_text" class="text ">
            <p><span>柠檬鸡翅</span></p>
          </div>
        </div>
      </div>

      <!-- 名称+属性 (组合) -->
      <div id="u285" class="ax_default" data-label="名称+属性" data-left="738" data-top="197" data-width="580" data-height="58">

        <!-- Unnamed (矩形) -->
        <div id="u286" class="ax_default box_1">
          <div id="u286_div" class=""></div>
          <div id="u286_text" class="text ">
            <p><span>类别：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u287" class="ax_default box_1">
          <div id="u287_div" class=""></div>
          <div id="u287_text" class="text ">
            <p><span>柠檬,鸡翅</span></p>
          </div>
        </div>
      </div>

      <!-- 名称+属性 (组合) -->
      <div id="u288" class="ax_default" data-label="名称+属性" data-left="738" data-top="270" data-width="580" data-height="58">

        <!-- Unnamed (矩形) -->
        <div id="u289" class="ax_default box_1">
          <div id="u289_div" class=""></div>
          <div id="u289_text" class="text ">
            <p><span>烹饪难度：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u290" class="ax_default box_1">
          <div id="u290_div" class=""></div>
          <div id="u290_text" class="text ">
            <p><span>有点难度</span></p>
          </div>
        </div>
      </div>

      <!-- 名称+属性 (组合) -->
      <div id="u291" class="ax_default" data-label="名称+属性" data-left="738" data-top="341" data-width="872" data-height="58">

        <!-- Unnamed (矩形) -->
        <div id="u292" class="ax_default box_1">
          <div id="u292_div" class=""></div>
          <div id="u292_text" class="text ">
            <p><span>描述：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u293" class="ax_default box_1">
          <div id="u293_div" class=""></div>
          <div id="u293_text" class="text ">
            <p><span>分享一道而五十大风车w菜...</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u294" class="ax_default line">
        <img id="u294_img" class="img " src="images/reip_detail/u294.svg"/>
        <div id="u294_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 菜谱步骤 (组合) -->
      <div id="u295" class="ax_default" data-label="菜谱步骤" data-left="307" data-top="971" data-width="1155" data-height="245">

        <!-- Unnamed (图像 ) -->
        <div id="u296" class="ax_default _图像_">
          <img id="u296_img" class="img " src="images/reip_detail/u296.png"/>
          <div id="u296_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u297" class="ax_default box_1">
          <div id="u297_div" class=""></div>
          <div id="u297_text" class="text ">
            <p><span>第一步，洗干净</span></p>
          </div>
        </div>
      </div>

      <!-- 菜谱步骤 (组合) -->
      <div id="u298" class="ax_default" data-label="菜谱步骤" data-left="307" data-top="1281" data-width="1155" data-height="245">

        <!-- Unnamed (图像 ) -->
        <div id="u299" class="ax_default _图像_">
          <img id="u299_img" class="img " src="images/reip_detail/u281.png"/>
          <div id="u299_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u300" class="ax_default box_1">
          <div id="u300_div" class=""></div>
          <div id="u300_text" class="text ">
            <p><span>第二部，腌入味</span></p>
          </div>
        </div>
      </div>

      <!-- 菜谱步骤 (组合) -->
      <div id="u301" class="ax_default" data-label="菜谱步骤" data-left="307" data-top="1591" data-width="1155" data-height="245">

        <!-- Unnamed (图像 ) -->
        <div id="u302" class="ax_default _图像_">
          <img id="u302_img" class="img " src="images/reip_detail/u302.png"/>
          <div id="u302_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u303" class="ax_default box_1">
          <div id="u303_div" class=""></div>
          <div id="u303_text" class="text ">
            <p><span>第三步、放进烤箱</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u304" class="ax_default primary_button">
        <div id="u304_div" class=""></div>
        <div id="u304_text" class="text ">
          <p><span>审核通过</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u305" class="ax_default primary_button">
        <div id="u305_div" class=""></div>
        <div id="u305_text" class="text ">
          <p><span>驳回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u306" class="ax_default box_1">
        <div id="u306_div" class=""></div>
        <div id="u306_text" class="text ">
          <p><span>原料</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u307" class="ax_default line">
        <img id="u307_img" class="img " src="images/reip_detail/u307.svg"/>
        <div id="u307_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u308" class="ax_default line">
        <img id="u308_img" class="img " src="images/reip_detail/u308.svg"/>
        <div id="u308_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u309" class="ax_default line">
        <img id="u309_img" class="img " src="images/reip_detail/u308.svg"/>
        <div id="u309_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u310" class="ax_default line">
        <img id="u310_img" class="img " src="images/reip_detail/u308.svg"/>
        <div id="u310_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u311" class="ax_default line">
        <img id="u311_img" class="img " src="images/reip_detail/u308.svg"/>
        <div id="u311_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u312" class="ax_default label">
        <div id="u312_div" class=""></div>
        <div id="u312_text" class="text ">
          <p><span>鸡翅</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u313" class="ax_default label">
        <div id="u313_div" class=""></div>
        <div id="u313_text" class="text ">
          <p><span>8g</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u314" class="ax_default label">
        <div id="u314_div" class=""></div>
        <div id="u314_text" class="text ">
          <p><span>大葱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u315" class="ax_default label">
        <div id="u315_div" class=""></div>
        <div id="u315_text" class="text ">
          <p><span>8g</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u316" class="ax_default label">
        <div id="u316_div" class=""></div>
        <div id="u316_text" class="text ">
          <p><span>8g</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u317" class="ax_default label">
        <div id="u317_div" class=""></div>
        <div id="u317_text" class="text ">
          <p><span>八角</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u318" class="ax_default label">
        <div id="u318_div" class=""></div>
        <div id="u318_text" class="text ">
          <p><span>柠檬</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u319" class="ax_default label">
        <div id="u319_div" class=""></div>
        <div id="u319_text" class="text ">
          <p><span>8g</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u320" class="ax_default box_1">
        <div id="u320_div" class=""></div>
        <div id="u320_text" class="text ">
          <p><span>步骤</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
