<!DOCTYPE html>
<html>
  <head>
    <title>root_li</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/root_li/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/root_li/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (导航栏) -->

      <!-- 导航栏 (组合) -->
      <div id="u10" class="ax_default" data-label="导航栏" data-left="0" data-top="0" data-width="1906" data-height="50">

        <!-- 导航栏背景 (矩形) -->
        <div id="u11" class="ax_default box_1" data-label="导航栏背景">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 用户框 (矩形) -->
        <div id="u12" class="ax_default box_1" data-label="用户框">
          <div id="u12_div" class=""></div>
          <div id="u12_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u13" class="ax_default box_1">
          <img id="u13_img" class="img " src="images/root_li/u13.svg"/>
          <div id="u13_text" class="text ">
            <p><span>用户0930</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u14" class="ax_default box_1">
          <div id="u14_div" class=""></div>
          <div id="u14_text" class="text ">
            <p><span>菜谱管理员</span></p>
          </div>
        </div>

        <!-- 用户头像 (图像 ) -->
        <div id="u15" class="ax_default _图像_" data-label="用户头像">
          <img id="u15_img" class="img " src="images/login/u4.png"/>
          <div id="u15_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16" class="ax_default button">
          <div id="u16_div" class=""></div>
          <div id="u16_text" class="text ">
            <p><span>注销</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u17" class="ax_default box_1">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
            <p style="font-size:13px;"><span style="font-family:'楷体', sans-serif;font-weight:400;">&nbsp;&nbsp; &nbsp;&nbsp; </span><span style="font-family:'楷体 Bold', '楷体 Regular', '楷体', sans-serif;font-weight:700;font-size:16px;">仿下厨房后台管理系统</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u18" class="ax_default icon">
          <img id="u18_img" class="img " src="images/root_li/u18.svg"/>
          <div id="u18_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 导航 (菜单) -->
        <div id="u19" class="ax_default" data-label="导航">
          <img id="u19_menu" class="img " src="images/root_li/导航_u19_menu.png" alt="u19_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u20" class="ax_default">

            <!-- Unnamed (菜单项目) -->
            <div id="u21" class="ax_default menu_item">
              <img id="u21_img" class="img " src="images/root_li/u21.png"/>
              <div id="u21_text" class="text ">
                <p><span>系统</span></p>
              </div>
            </div>

            <!-- reip (菜单项目) -->
            <div id="u22" class="ax_default menu_item" data-label="reip">
              <img id="u22_img" class="img " src="images/root_li/reip_u22.png"/>
              <div id="u22_text" class="text ">
                <p><span>菜谱</span></p>
              </div>
            </div>

            <!-- mall (菜单项目) -->
            <div id="u23" class="ax_default menu_item" data-label="mall">
              <img id="u23_img" class="img " src="images/root_li/mall_u23.png"/>
              <div id="u23_text" class="text ">
                <p><span>商城</span></p>
              </div>
            </div>

            <!-- Unnamed (菜单项目) -->
            <div id="u24" class="ax_default menu_item">
              <img id="u24_img" class="img " src="images/root_li/u24.png"/>
              <div id="u24_text" class="text ">
                <p><span>用户</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u25" class="ax_default sub_menu">
            <img id="u25_menu" class="img " src="images/root_li/u25_menu.png" alt="u25_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u26" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u27" class="ax_default menu_item">
                <img id="u27_img" class="img " src="images/root_li/u27.png"/>
                <div id="u27_text" class="text ">
                  <p><span>菜谱列表</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u28" class="ax_default menu_item">
                <img id="u28_img" class="img " src="images/root_li/u28.png"/>
                <div id="u28_text" class="text ">
                  <p><span>菜谱审核</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u29" class="ax_default sub_menu">
            <img id="u29_menu" class="img " src="images/root_li/u29_menu.png" alt="u29_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u30" class="ax_default">

              <!-- nacos (菜单项目) -->
              <div id="u31" class="ax_default menu_item" data-label="nacos">
                <img id="u31_img" class="img " src="images/root_li/nacos_u31.png"/>
                <div id="u31_text" class="text ">
                  <p><span>NACOS控制台</span></p>
                </div>
              </div>

              <!-- sentinel (菜单项目) -->
              <div id="u32" class="ax_default menu_item" data-label="sentinel">
                <img id="u32_img" class="img " src="images/root_li/sentinel_u32.png"/>
                <div id="u32_text" class="text ">
                  <p><span>Sentinel控制台</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u33" class="ax_default sub_menu">
            <img id="u33_menu" class="img " src="images/root_li/u33_menu.png" alt="u33_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u34" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u35" class="ax_default menu_item">
                <img id="u35_img" class="img " src="images/root_li/u35.png"/>
                <div id="u35_text" class="text ">
                  <p><span>商品上传</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u36" class="ax_default menu_item">
                <img id="u36_img" class="img " src="images/root_li/u35.png"/>
                <div id="u36_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u37" class="ax_default menu_item">
                <img id="u37_img" class="img " src="images/root_li/u37.png"/>
                <div id="u37_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u9" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (组合) -->
      <div id="u38" class="ax_default" data-left="518" data-top="117" data-width="288" data-height="89">

        <!-- Unnamed (矩形) -->
        <div id="u39" class="ax_default box_1">
          <img id="u39_img" class="img " src="images/root_li/u39.svg"/>
          <div id="u39_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#FFFFFF;">菜谱管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图像 ) -->
        <div id="u40" class="ax_default _图像_">
          <img id="u40_img" class="img " src="images/root_li/u40.png"/>
          <div id="u40_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u41" class="ax_default" data-left="1099" data-top="122" data-width="288" data-height="89">

        <!-- Unnamed (矩形) -->
        <div id="u42" class="ax_default box_1">
          <img id="u42_img" class="img " src="images/root_li/u39.svg"/>
          <div id="u42_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#FFFFFF;">用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图像 ) -->
        <div id="u43" class="ax_default _图像_">
          <img id="u43_img" class="img " src="images/root_li/u40.png"/>
          <div id="u43_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
