<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>usve_menu_list</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/usve_menu_list/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/usve_menu_list/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (导航栏) -->

      <!-- 导航栏 (组合) -->
      <div id="u322" class="ax_default" data-label="导航栏" data-left="0" data-top="0" data-width="1906" data-height="50">

        <!-- 导航栏背景 (矩形) -->
        <div id="u323" class="ax_default box_1" data-label="导航栏背景">
          <div id="u323_div" class=""></div>
          <div id="u323_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 用户框 (矩形) -->
        <div id="u324" class="ax_default box_1" data-label="用户框">
          <div id="u324_div" class=""></div>
          <div id="u324_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u325" class="ax_default box_1">
          <img id="u325_img" class="img " src="images/root_li/u13.svg"/>
          <div id="u325_text" class="text ">
            <p><span>用户0930</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u326" class="ax_default box_1">
          <div id="u326_div" class=""></div>
          <div id="u326_text" class="text ">
            <p><span>菜谱管理员</span></p>
          </div>
        </div>

        <!-- 用户头像 (图像 ) -->
        <div id="u327" class="ax_default _图像_" data-label="用户头像">
          <img id="u327_img" class="img " src="images/login/u4.png"/>
          <div id="u327_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u328" class="ax_default button">
          <div id="u328_div" class=""></div>
          <div id="u328_text" class="text ">
            <p><span>注销</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u329" class="ax_default box_1">
          <div id="u329_div" class=""></div>
          <div id="u329_text" class="text ">
            <p style="font-size:13px;"><span style="font-family:'楷体', sans-serif;font-weight:400;">&nbsp;&nbsp; &nbsp;&nbsp; </span><span style="font-family:'楷体 Bold', '楷体 Regular', '楷体', sans-serif;font-weight:700;font-size:16px;">仿下厨房后台管理系统</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u330" class="ax_default icon">
          <img id="u330_img" class="img " src="images/root_li/u18.svg"/>
          <div id="u330_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 导航 (菜单) -->
        <div id="u331" class="ax_default" data-label="导航">
          <img id="u331_menu" class="img " src="images/root_li/导航_u19_menu.png" alt="u331_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u332" class="ax_default">

            <!-- Unnamed (菜单项目) -->
            <div id="u333" class="ax_default menu_item">
              <img id="u333_img" class="img " src="images/root_li/u21.png"/>
              <div id="u333_text" class="text ">
                <p><span>系统</span></p>
              </div>
            </div>

            <!-- reip (菜单项目) -->
            <div id="u334" class="ax_default menu_item" data-label="reip">
              <img id="u334_img" class="img " src="images/root_li/reip_u22.png"/>
              <div id="u334_text" class="text ">
                <p><span>菜谱</span></p>
              </div>
            </div>

            <!-- mall (菜单项目) -->
            <div id="u335" class="ax_default menu_item" data-label="mall">
              <img id="u335_img" class="img " src="images/root_li/mall_u23.png"/>
              <div id="u335_text" class="text ">
                <p><span>商城</span></p>
              </div>
            </div>

            <!-- Unnamed (菜单项目) -->
            <div id="u336" class="ax_default menu_item">
              <img id="u336_img" class="img " src="images/root_li/u24.png"/>
              <div id="u336_text" class="text ">
                <p><span>用户</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u337" class="ax_default sub_menu">
            <img id="u337_menu" class="img " src="images/root_li/u25_menu.png" alt="u337_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u338" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u339" class="ax_default menu_item">
                <img id="u339_img" class="img " src="images/root_li/u27.png"/>
                <div id="u339_text" class="text ">
                  <p><span>菜谱列表</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u340" class="ax_default menu_item">
                <img id="u340_img" class="img " src="images/root_li/u28.png"/>
                <div id="u340_text" class="text ">
                  <p><span>菜谱审核</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u341" class="ax_default sub_menu">
            <img id="u341_menu" class="img " src="images/root_li/u29_menu.png" alt="u341_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u342" class="ax_default">

              <!-- nacos (菜单项目) -->
              <div id="u343" class="ax_default menu_item" data-label="nacos">
                <img id="u343_img" class="img " src="images/root_li/nacos_u31.png"/>
                <div id="u343_text" class="text ">
                  <p><span>NACOS控制台</span></p>
                </div>
              </div>

              <!-- sentinel (菜单项目) -->
              <div id="u344" class="ax_default menu_item" data-label="sentinel">
                <img id="u344_img" class="img " src="images/root_li/sentinel_u32.png"/>
                <div id="u344_text" class="text ">
                  <p><span>Sentinel控制台</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (菜单) -->
          <div id="u345" class="ax_default sub_menu">
            <img id="u345_menu" class="img " src="images/root_li/u33_menu.png" alt="u345_menu"/>

            <!-- Unnamed (表格) -->
            <div id="u346" class="ax_default">

              <!-- Unnamed (菜单项目) -->
              <div id="u347" class="ax_default menu_item">
                <img id="u347_img" class="img " src="images/root_li/u35.png"/>
                <div id="u347_text" class="text ">
                  <p><span>商品上传</span></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u348" class="ax_default menu_item">
                <img id="u348_img" class="img " src="images/root_li/u35.png"/>
                <div id="u348_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (菜单项目) -->
              <div id="u349" class="ax_default menu_item">
                <img id="u349_img" class="img " src="images/root_li/u37.png"/>
                <div id="u349_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u321" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (表格) -->
      <div id="u350" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u351" class="ax_default table_cell">
          <img id="u351_img" class="img " src="images/usve_menu_list/u351.png"/>
          <div id="u351_text" class="text ">
            <p><span>用户ID</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u352" class="ax_default table_cell">
          <img id="u352_img" class="img " src="images/usve_menu_list/u351.png"/>
          <div id="u352_text" class="text ">
            <p><span>用户名</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u353" class="ax_default table_cell">
          <img id="u353_img" class="img " src="images/usve_menu_list/u351.png"/>
          <div id="u353_text" class="text ">
            <p><span>密码</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u354" class="ax_default table_cell">
          <img id="u354_img" class="img " src="images/usve_menu_list/u354.png"/>
          <div id="u354_text" class="text ">
            <p><span>性别</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u355" class="ax_default table_cell">
          <img id="u355_img" class="img " src="images/usve_menu_list/u351.png"/>
          <div id="u355_text" class="text ">
            <p><span>用户类别</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u356" class="ax_default table_cell">
          <img id="u356_img" class="img " src="images/usve_menu_list/u354.png"/>
          <div id="u356_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u357" class="ax_default table_cell">
          <img id="u357_img" class="img " src="images/usve_menu_list/u357.png"/>
          <div id="u357_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u358" class="ax_default">
          <img id="u358_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u358_text" class="text ">
            <p><span>1232143321</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u359" class="ax_default">
          <img id="u359_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u359_text" class="text ">
            <p><span>123131</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u360" class="ax_default">
          <img id="u360_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u360_text" class="text ">
            <p><span>12312311312</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u361" class="ax_default">
          <img id="u361_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u361_text" class="text ">
            <p><span>123</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u362" class="ax_default">
          <img id="u362_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u362_text" class="text ">
            <p><span>123123</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u363" class="ax_default">
          <img id="u363_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u363_text" class="text ">
            <p><span>修改</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u364" class="ax_default">
          <img id="u364_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u364_text" class="text ">
            <p><span>删除</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u365" class="ax_default">
          <img id="u365_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u365_text" class="text ">
            <p><span>312</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u366" class="ax_default">
          <img id="u366_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u366_text" class="text ">
            <p><span>1231</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u367" class="ax_default">
          <img id="u367_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u367_text" class="text ">
            <p><span>12312</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u368" class="ax_default">
          <img id="u368_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u368_text" class="text ">
            <p><span>123</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u369" class="ax_default">
          <img id="u369_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u369_text" class="text ">
            <p><span>123</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u370" class="ax_default">
          <img id="u370_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u370_text" class="text ">
            <p><span>修改</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u371" class="ax_default">
          <img id="u371_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u371_text" class="text ">
            <p><span>删除</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u372" class="ax_default">
          <img id="u372_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u372_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u373" class="ax_default">
          <img id="u373_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u373_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u374" class="ax_default">
          <img id="u374_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u374_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u375" class="ax_default">
          <img id="u375_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u375_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u376" class="ax_default">
          <img id="u376_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u376_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u377" class="ax_default">
          <img id="u377_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u377_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u378" class="ax_default">
          <img id="u378_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u378_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u379" class="ax_default">
          <img id="u379_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u379_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u380" class="ax_default">
          <img id="u380_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u380_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u381" class="ax_default">
          <img id="u381_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u381_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u382" class="ax_default">
          <img id="u382_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u382_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u383" class="ax_default">
          <img id="u383_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u383_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u384" class="ax_default">
          <img id="u384_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u384_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u385" class="ax_default">
          <img id="u385_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u385_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u386" class="ax_default">
          <img id="u386_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u386_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u387" class="ax_default">
          <img id="u387_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u387_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u388" class="ax_default">
          <img id="u388_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u388_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u389" class="ax_default">
          <img id="u389_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u389_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u390" class="ax_default">
          <img id="u390_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u390_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u391" class="ax_default">
          <img id="u391_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u391_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u392" class="ax_default">
          <img id="u392_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u392_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u393" class="ax_default">
          <img id="u393_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u393_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u394" class="ax_default">
          <img id="u394_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u394_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u395" class="ax_default">
          <img id="u395_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u395_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u396" class="ax_default">
          <img id="u396_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u396_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u397" class="ax_default">
          <img id="u397_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u397_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u398" class="ax_default">
          <img id="u398_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u398_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u399" class="ax_default">
          <img id="u399_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u399_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u400" class="ax_default">
          <img id="u400_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u400_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u401" class="ax_default">
          <img id="u401_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u401_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u402" class="ax_default">
          <img id="u402_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u402_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u403" class="ax_default">
          <img id="u403_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u403_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u404" class="ax_default">
          <img id="u404_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u404_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u405" class="ax_default">
          <img id="u405_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u405_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u406" class="ax_default">
          <img id="u406_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u406_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u407" class="ax_default">
          <img id="u407_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u407_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u408" class="ax_default">
          <img id="u408_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u408_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u409" class="ax_default">
          <img id="u409_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u409_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u410" class="ax_default">
          <img id="u410_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u410_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u411" class="ax_default">
          <img id="u411_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u411_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u412" class="ax_default">
          <img id="u412_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u412_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u413" class="ax_default">
          <img id="u413_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u413_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u414" class="ax_default">
          <img id="u414_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u414_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u415" class="ax_default">
          <img id="u415_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u415_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u416" class="ax_default">
          <img id="u416_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u416_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u417" class="ax_default">
          <img id="u417_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u417_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u418" class="ax_default">
          <img id="u418_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u418_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u419" class="ax_default">
          <img id="u419_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u419_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u420" class="ax_default">
          <img id="u420_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u420_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u421" class="ax_default">
          <img id="u421_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u421_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u422" class="ax_default">
          <img id="u422_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u422_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u423" class="ax_default">
          <img id="u423_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u423_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u424" class="ax_default">
          <img id="u424_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u424_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u425" class="ax_default">
          <img id="u425_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u425_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u426" class="ax_default">
          <img id="u426_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u426_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u427" class="ax_default">
          <img id="u427_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u427_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u428" class="ax_default">
          <img id="u428_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u428_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u429" class="ax_default">
          <img id="u429_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u429_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u430" class="ax_default">
          <img id="u430_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u430_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u431" class="ax_default">
          <img id="u431_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u431_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u432" class="ax_default">
          <img id="u432_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u432_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u433" class="ax_default">
          <img id="u433_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u433_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u434" class="ax_default">
          <img id="u434_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u434_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u435" class="ax_default">
          <img id="u435_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u435_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u436" class="ax_default">
          <img id="u436_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u436_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u437" class="ax_default">
          <img id="u437_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u437_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u438" class="ax_default">
          <img id="u438_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u438_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u439" class="ax_default">
          <img id="u439_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u439_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u440" class="ax_default">
          <img id="u440_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u440_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u441" class="ax_default">
          <img id="u441_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u441_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u442" class="ax_default">
          <img id="u442_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u442_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u443" class="ax_default">
          <img id="u443_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u443_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u444" class="ax_default">
          <img id="u444_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u444_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u445" class="ax_default">
          <img id="u445_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u445_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u446" class="ax_default">
          <img id="u446_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u446_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u447" class="ax_default">
          <img id="u447_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u447_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u448" class="ax_default">
          <img id="u448_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u448_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u449" class="ax_default">
          <img id="u449_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u449_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u450" class="ax_default">
          <img id="u450_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u450_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u451" class="ax_default">
          <img id="u451_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u451_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u452" class="ax_default">
          <img id="u452_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u452_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u453" class="ax_default">
          <img id="u453_img" class="img " src="images/usve_menu_list/u358.png"/>
          <div id="u453_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u454" class="ax_default">
          <img id="u454_img" class="img " src="images/usve_menu_list/u361.png"/>
          <div id="u454_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u455" class="ax_default">
          <img id="u455_img" class="img " src="images/usve_menu_list/u364.png"/>
          <div id="u455_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u456" class="ax_default">
          <img id="u456_img" class="img " src="images/usve_menu_list/u456.png"/>
          <div id="u456_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u457" class="ax_default">
          <img id="u457_img" class="img " src="images/usve_menu_list/u456.png"/>
          <div id="u457_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u458" class="ax_default">
          <img id="u458_img" class="img " src="images/usve_menu_list/u456.png"/>
          <div id="u458_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u459" class="ax_default">
          <img id="u459_img" class="img " src="images/usve_menu_list/u459.png"/>
          <div id="u459_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u460" class="ax_default">
          <img id="u460_img" class="img " src="images/usve_menu_list/u456.png"/>
          <div id="u460_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u461" class="ax_default">
          <img id="u461_img" class="img " src="images/usve_menu_list/u459.png"/>
          <div id="u461_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u462" class="ax_default">
          <img id="u462_img" class="img " src="images/usve_menu_list/u462.png"/>
          <div id="u462_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u463" class="ax_default primary_button">
        <div id="u463_div" class=""></div>
        <div id="u463_text" class="text ">
          <p><span>新增用户</span></p>
        </div>
      </div>

      <!-- 修改用户 (组合) -->
      <div id="u464" class="ax_default ax_default_hidden" data-label="修改用户" style="display:none; visibility: hidden" data-left="686" data-top="276" data-width="534" data-height="324">

        <!-- Unnamed (矩形) -->
        <div id="u465" class="ax_default box_1">
          <div id="u465_div" class=""></div>
          <div id="u465_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u466" class="ax_default label">
          <div id="u466_div" class=""></div>
          <div id="u466_text" class="text ">
            <p><span>用户ID:</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u467" class="ax_default label">
          <div id="u467_div" class=""></div>
          <div id="u467_text" class="text ">
            <p><span>用户名：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u468" class="ax_default label">
          <div id="u468_div" class=""></div>
          <div id="u468_text" class="text ">
            <p><span>密码：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u469" class="ax_default button">
          <div id="u469_div" class=""></div>
          <div id="u469_text" class="text ">
            <p><span>修改</span></p>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u470" class="ax_default text_field">
          <div id="u470_div" class=""></div>
          <input id="u470_input" type="text" value="11232324324435" class="u470_input"/>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u471" class="ax_default text_field">
          <div id="u471_div" class=""></div>
          <input id="u471_input" type="text" value="123123132" class="u471_input"/>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u472" class="ax_default text_field">
          <div id="u472_div" class=""></div>
          <input id="u472_input" type="text" value="12323345345456" class="u472_input"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u473" class="ax_default icon">
          <img id="u473_img" class="img " src="images/usve_menu_list/u473.svg"/>
          <div id="u473_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
