<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.reip.dao.mapper.RecipeWorkPoMapper">
  <resultMap id="BaseResultMap" type="org.example.reip.model.po.RecipeWorkPo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="recipe_id" jdbcType="INTEGER" property="recipeId" />
    <result column="works_thumb" jdbcType="INTEGER" property="worksThumb" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="works_text" jdbcType="LONGVARCHAR" property="worksText" />
    <result column="works_im3" jdbcType="LONGVARCHAR" property="worksIm3" />
    <result column="works_img1" jdbcType="LONGVARCHAR" property="worksImg1" />
    <result column="works_img2" jdbcType="LONGVARCHAR" property="worksImg2" />
  </resultMap>
</mapper>