<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.reip.dao.mapper.UtensilPoMapper">
  <resultMap id="BaseResultMap" type="org.example.reip.model.po.UtensilPo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="utensil_brand" jdbcType="VARCHAR" property="utensilBrand" />
    <result column="utensil_model" jdbcType="VARCHAR" property="utensilModel" />
    <result column="utensil_type" jdbcType="VARCHAR" property="utensilType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>