<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.reip.dao.mapper.UtensilRelatePoMapper">
  <resultMap id="BaseResultMap" type="org.example.reip.model.po.UtensilRelatePo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recipe_id" jdbcType="INTEGER" property="recipeId" />
    <result column="utensil_id" jdbcType="INTEGER" property="utensilId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>